*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-rows:repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-template-areas:
      "aa bb bb bb bb cc"
      "dd bb bb bb bb ee" 
      "ff bb bb bb bb gg" 
      "hh hh mm mm kk kk";


      .first{
          grid-area: aa;
      }
      .second{
          grid-area: bb;
      }
      .three{
          grid-area: cc;
      }
      .four{
          grid-area: dd;
      }
      .five{
        grid-area: ee;
      }
      .six{
          grid-area: ff;
      }
      .seven{
          grid-area: gg;
      }
      .eight{
          grid-area: hh;
      }
      .nine{
          grid-area: mm;
      }
      .ten{
          grid-area: kk;
      }
    // animation: moveMain 5s infinite;

    // .first{
    //     grid-column-start: 1;
    //     grid-column-end: 3;
    // }
    // .four{
    //     grid-column-start: 2;
    //     grid-column-end: 3;
    //     grid-row-start: 2;
    //     grid-row-end: 4;
    // }
    
    
    // .second{
    //     grid-column-start: 2;
    //     grid-column-end: 6;
    //     grid-row-start: 1;
    //     grid-row-end: 4;
    // }
    // .eight{
    //     grid-column-start: 1;
    //     grid-column-end: 3;  
    // }
    // .nine{
    //     grid-column-start: 3;
    //     grid-column-end: 5;
    // }
    // .ten{
    //     grid-column-start: 5;
    //     grid-column-end: 7;
    // }
    p{
    border: 1px solid black;
    padding: 20px 10px;
    word-wrap: break-word;
    // animation: move 5s infinite;
        span{
            font-weight: bold;
        }
    }

   
}
// .first, .three, .four, .five, .six, .seven{
//     grid-area: ff;        
// }    
// .second{
//     grid-area: bb;
// }
// .eight, .ten{
//     grid-area: mm;
// }    
// .nine{
//     grid-area: cc;
// }

.orange{
    background: orange;
}
.pink{
    background: pink;
}
@keyframes move {
    0%{
        transform: rotate(360deg);}
    
}
@keyframes moveMain{
    0%{
        transform: rotate(360deg);}
}

@media (max-width: 480px){
       .container{
        grid-template-rows:repeat(5, 1fr);
        grid-template-areas:
        "bb bb bb bb bb bb"
        "bb bb bb bb bb bb"
        "bb bb bb bb bb bb" 
        "aa cc dd ee ff gg" 
        "hh hh mm mm kk kk"; 
       } 
}

